<tr id="<%= id %>">

<% for (var i in columnModels) {
	var cellTemplateData = {
		cellValue: mappedItem[columnModels[i].name],
		mappedItem: mappedItem,
		item: item,
		columnModel: columnModels[i]
	};

	// Custom template defined.
	var template = cellTemplate;
	if (columnModels[i].template) {
		template = columnModels[i].template;
	}
%>

	<td class="js_grid_column_<%= columnModels[i].name %> cell_<%= columnModels[i].name %> <%= columnModels[i].css.join(' ') %>">
		<%== _mad.View.render(template, cellTemplateData) %>
	</td>

<% } %>

</tr>
